@use "../globals";
@import "../utlities/breakpoints";


.owl-carousel .item {
    width: 90%;
    height: 400px;

    @include breakpoint('md') {
        width:100%;
      }

    img {
        height: 200px;
        width: auto;
    }

    .card {
        height: 100%;
    }
}


.current-country .card {
    padding: 0px 20px;
    width: 70%;
    margin: 0 auto;
    background-color: var(--bg-color);
    border: var(--main-border);
    border-radius: 0;

    @include breakpoint('xl') {
        width:90%;
      }

    img {
        margin-top: 6%;
    }

}


.current-news .list-of-news {

    margin-top: 50px;

    .card {
        padding: 15px;
        margin: 0 auto;
        background-color: var(--bg-color);
        border: var(--main-border);
        border-radius: 0;
        width: 80%;

        @include breakpoint('xl') {
            width:90%;
          }

        .bgImg {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px;
            width: auto;
        }
    }


}